<!-- Подвал нам тоже нужно будет сделать в виде flex контейнера. Для начала определимся с родительским и дочерними тегами. Не будем долго думать и возьмем parent и child.  -->
<div>
    <!-- Все стили начинаются с одного. С тега style. Запишем его и приготовимся записать стили для родительского и дочернего элементов -->
    <!-- мы пользуемся flex контейнером и укажем что мы пользуемся горизонтальной разметкой -->
    <!-- Нам нужны новые свойства для дочернего тега. Установим внешние (margin) и внутренние (padding) отступы по 10 пикселей. -->
    <!-- воспользуемся правилом flex, задав ему 33%. Это означает, что на каждый блок будет отводиться треть места -->
    <!-- зафиксируем высоту в 100 пикселей с помощью правила height и отцентруем с помощью правила align-items -->
    <style>
        parent {
            display: flex;
            flex-direction: row;
            height: 100px;
            align-items: center;
        }
        child {
            padding: 10px;
            margin: 10px;
            flex: 33%;
        }
    </style>

    <parent>

        <!--  Для начала сменим теги h5 на text -->
        <child>
            <text>
                Python Pizza | 2021
            </text>
        </child>


        <child>
            <!--  поместить кнопки по центру -->
            <!-- <center> -->
                {% include 'mainapp/messegers.html' %}
            <!-- </center> -->
        </child>

        <!-- нужно прижать надпись с номером к правому краю. чтобы определить положение, есть правило align -->
        <child align="right">
            <text>
                Тел. 8-800-xxx-xx-xx
            </text>
        </child>

    </parent>
</div>