<!--  Мы не будем прописывать стили с нуля. вставим код из файла footer.html  -->
<div>
    <!-- Все стили начинаются с одного. С тега style. Запишем его и приготовимся записать стили для родительского и дочернего элементов -->
    <!-- первым делом переименуем теги родительский в headers, а дочерние в header. Поменять нужно не только в коде, но и в стилях -->
    <!-- мы пользуемся flex контейнером и укажем что мы пользуемся горизонтальной разметкой -->

    <!-- Нам нужны новые свойства для дочернего тега. Установим внешние (margin) и внутренние (padding) отступы по 10 пикселей. -->
    <!-- воспользуемся правилом flex, задав ему 33%. Это означает, что на каждый блок будет отводиться треть места -->
    <!-- зафиксируем высоту в 100 пикселей с помощью правила height и отцентруем с помощью правила align-items -->
    <!-- нужно посмотреть как выглядят наши дочерние контейнеры, для этого подсветим их правилом background, которое прописывается в дочернем теге -->
    <style>
        headers {
            display: flex;
            flex-direction: row;
            height: 100px;
            align-items: center;
        }
        header {
            padding: 10px;
            margin: 10px;
        }
    </style>

    <headers>

        <!--  Для начала сменим теги h5 на text -->
        <header style="width: 500px">
            <h1>
                Python Pizza
            </h1>
        </header>


        <header>
            <text>
                Пн-Вс с 7:00 до 23:00 <br>
                Тел. 8-800-xxx-xx-xx
            </text>
        </header>

        <!-- нужно прижать надпись с номером к правому краю. чтобы определить положение, есть правило align -->
        <header>
            <form action="/">
                <button>
                    <busket>
                        Главная
                    </busket>
                </button>
            </form>

            <form action="basket-page">
                <button>
                    <busket>
                        Корзина
                    </busket>
                </button>
            </form>
        </header>

    </headers>
</div>