<div>
    <h5 style="position: absolute; left: 20px; bottom: 5px;">
        Время работы: Ежедневно с 6:00 до 22:00
    </h5>
    <!--  поместить кнопки по центру -->
    <center>
        <buttons>

            <form style="position: absolute; right: 5px; bottom: 0px;">
                <!-- Чтобы опустить кнопки, нужно прописать класс для кнопок соцсетей, который будет задавать их размер и после этого прописать высоту в теге buttons -->
                <button class="social">
                    Vk
                </button>
            </form>

            <form style="position: absolute; left: 5px; bottom: 0px;">
                <button class="social">
                    I
                </button>
            </form>
        </buttons>
    </center>
    <h5 style="position: absolute; right: 20px; bottom: 5px;">
        Тел. 8-800-xxx-xx-xx
    </h5>
</div>